.header {
    position: fixed;
}
.presentation {
    max-width: 70%;
}
.header .nav-item a {
    position: relative;
    transition: padding-left 0.3s ease;
    padding-left: 45px;
}
.header .nav-item a::before {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    height: 3px; 
    background-color: #8f9eea; 
    box-shadow: 0px 0px 5px rgba(172, 207, 216, 0.539);
    transition: width 0.3s ease-in-out;
    border-radius: 200px;
    cursor: pointer;
    width: 30px;
}
.header.light-mode .nav-item a::before {
    background-color: #4646b9;
    box-shadow: 0px 0px 5px rgba(175, 175, 177, 0.539);
}
.header .nav-item a.active::before,
.header .nav-item a:hover::before {
    width: 60px;
}
.header .nav-item a.active,
.header .nav-item a:hover {
    padding-left: 70px; 
}

@media screen and (max-width:1023px) {
    .header {
        position: relative;
    }
    .nav-item.fixed {
        backdrop-filter: blur(5px); 
        transition: backdrop-filter 0.3s ease;
    }
    .header .navbar .nav-item.fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; 
        transition: top 0.3s ease;
    }
    .presentation {
        max-width: 100%;
    }
    .icons {
        margin-top: 50px !important;
    }
    .header .nav-item a {
        padding-left:70px;
    }
    .header .nav-item a::before {
        width: 50px;
    }
    .header .nav-item a.active::before,
    .header .nav-item a:hover::before {
        width: 50px;
    }
    .header .nav-item a.active,
    .header .nav-item a:hover {
        padding-left: 80px; 
    }
}

@media screen and (max-width:400px) {
    .name {
        font-size: 38px !important;
    }
    .title {
        font-size: 24px !important;
    }
    .subtitle {
        font-size: 19px !important;
    }
    nav a{
        font-size: 16px;
    }
    .icon {
        font-size: 30px !important;
    }
}